<div class="container">
  <h1>Coaching Lucie</h1>
  <form action="/answer" accept-charset="UTF-8">
      <input type="text" name="question" value="Please ask a question.">
      <br>
      <input type="submit" value="Ask!">
    </form>
</div>
  